<div class="row">
        <div class="col s6">
          <div class="card small" style="float:right">
            <div class="card-image">
              <img src="/assets/images/admin_add_product.png" height="200" width="50">
              <!-- <span class="card-title">Add New</span> -->
            </div>
            <div class="card-content">
              <p>Add a new Product to the Catalog</p>
            </div>
            <div class="card-action">
              <a (click)="goToAddProduct()">Add Product</a>
            </div>
          </div>
        </div>

        <div class="col s6">
          <div class="card small">
            <div class="card-image">
              <img src="/assets/images/admin_view.jpg" height="200" width="50">
              <!-- <span class="card-title">Add New</span> -->
            </div>
            <div class="card-content">
              <p>View List of Catalog</p>
            </div>
            <div class="card-action">
              <a (click)="goToViewList()">View Catalog</a>
            </div>
          </div>
        </div>
</div>
